@charset "utf-8";
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
body{

}
button{
    border: none;
    background: none;
    border:none;
    cursor:pointer;
}
.wrap{
    position: relative;
}
.cover{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 99;
    display: none;
}
.header{
    width: 100%;
    height: 45px;
    background: #33353f;
    position: relative;
}
.m_btn{
    position: absolute;
    left:0;
    top:0;
    width: 45px;
    height: 45px;
    background: url("../images/ham.png") no-repeat;
    background-size: 45px;
    text-indent: -99999px;
}
.m_btn.on{
    width: 45px;
    height: 45px;
    background: url("../images/bg_header_lnb_active.png") no-repeat;
    background-size: 45px;
    z-index: 500;
}
.m_search{
    position: absolute;
    right:0;
    top:0;
}
.m_search img{
    width: 45px;
}
/* ***************************************** */
.search_wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
}
.btn_close{
    text-indent: -99999px;
    position: absolute;
    right: 0;
    top: 0;
    background:url("../images/img_topSerchCancel.png") no-repeat;
    width: 45px;
    height: 45px;
    background-size: 45px;
}
.search{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 210px;
    border-bottom:3px solid #fff;
    width: 90%;
}
.search input{
    width: 80%;
    height: 30px;
    background: none;
    border:none;
    color:#fff;
}
.search .btn_search2{
    background: url("../images/allSerch.png")no-repeat;
    width: 21px;
    height: 21px;
    background-size: 21px;
    text-indent: -99999px;
    float:right;
}
.search legend{
    position: absolute;
    left: -99999px;
}
.search fieldset{
    border: none;
}
/* ***************************************** */
.header h1{
    position: absolute;
    left:50%;
    /* top:50%; */
    transform: translateX(-50%);
    line-height: 45px;
}
.header h1 a img{
    width: 90px;
}
/* ***************************************** */
.gnb_wrap{
    position: fixed;
    left: -278px;
    top:0;
    z-index:100;
    width: 274px;
    height: 100%;
    background: #f1f1f1;
}
.login{
    width: 100%;
    height: 174px;
    background: #111;
    padding: 37px 22px;
    box-sizing: border-box;
}
.login p{
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 25px;
}
.btn_close{
    position: absolute;
    right: 0;
    top: 0;
}
.btn_close img{
    width: 45px;
}
a img{
    width: 232px;
}
.gnb li a img{
    width: 100%;
}
.gnb li:last-child a{
    border-bottom:1px solid #ddd;
}
.reserve{
    text-align: center;
}
.reserve a img{
    margin-top:40px;
    width: 235px;
}
/* ***************************************** */
.visual img{
    width: 100%;
}
.swiper-button-prev{
    color:#fff;
    opacity: 0.5;
}
.swiper-button-next{
    color:#fff;
    opacity: 0.5;
}
.swiper-pagination .swiper-pagination-bullet{
    
}
.swiper-pagination .swiper-pagination-bullet-active{
    background:#fff;
}
/* ***************************************** */
.main{
    background:#f5f5f5;
}
/* ***************************************** */
.sec_01{
    width: 100%;
    height: auto;
    padding: 20px 15px 20px 15px;
    background: #fff;
    margin-top: -4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.sec_01 ul{
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.sec_01 li{
    width: 49%;
    height: 49%;
    float:left;
    margin-right: 2%;
    padding: 30px 10px 30px 10px;
    box-sizing: border-box;
    background: #4bb8bd;
}
.sec_01 li:nth-child(2n){
    margin-right: 0;
}
.sec_01 li:nth-child(1),.sec_01 li:nth-child(2){
    margin-bottom: 2%;
}
.sec_01 li a{
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: left;
    color: #fff;
}
.sec_01 li:nth-child(2){
    background: #ff912f;
}
.sec_01 li:nth-child(3){
    background: #539ed7;
}
.sec_01 li:last-child{
    background: #8eca36;
}
.sec_01 li a h5{
    font-size: 15px;
    float: left;
    margin-top: 10px;
}
.sec_01 li a h5 span{
    font-weight: bold;
}
.sec_01 li a img{
    float: right;
    width: 60px;
    height: 55px;
    float: right;
}
/* ***************************************** */
.sec_02{
    width: 100%;
    height: 150px;
    background:#fff;
    padding: 20px 10px 20px 10px;
    box-sizing: border-box;
    margin-bottom:10px;
}
.sec_02 ul{
    display: flex;
    justify-content: space-around;
}
.sec_02 li{

}
.sec_02 li a{

}
.sec_02 li a div{
    width: 80px;
    height: 80px;
    border:1px solid #e9e9e9;
    border-radius: 100px;
    background:#fafafa ;
    text-align: center;
}
.sec_02 li:nth-child(3) a div{
    background: #40c492;
}
.sec_02 li a div img{
    width: 80px;
}
.sec_02 li a div p{
    font-size: 14px;
    margin-top: 10px;
    color: #343434;
}
/* ***************************************** */
.sec_03{
    width: 100%;
    padding: 20px 10px 20px 10px;
    box-sizing: border-box;
    background:#fff;
    margin-bottom: 10px;
}
.sec_03_search{
    width: 100%;
    height: 50px;
}
.sec_03_search input{
    width: calc(100% - 45px);
    height: 100%;
    border:5px solid #225fb2;
    float: left;
    box-sizing: border-box;
    text-indent: 10px;
    outline: none;
}
.sec_03_search button{
    width: 45px;
    height: 100%;
    float:right;
    background:#225fb2 url("../images/allSerch.png")no-repeat center;
    background-size: 30px;
}
/* ***************************************** */
.sec_04{
    width: 100%;
    box-sizing: border-box;
    background:#fff;
    padding: 20px 15px 20px 15px;
    margin-bottom: 10px;
}
.sec_04_txt{
    width: 100%;
    overflow: hidden;
}
.sec_04 ul{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.sec_04 li{
    width: 24.5%;
    margin-right: 2%;
}
.sec_04 li:last-child{
    margin-right: 0;

}
.sec_04 li a{

}
.sec_04 img{
    width: 100%;
    height: 50%;
    margin-bottom: 10px;
}
.sec_04 p{
    font-size: 14px;
    float:left;
    color: #343434;
    font-weight: bold;
}
.sec_04 h3{
    float:left;
    font-weight: bold;
}
.sec_04 span{
    float:right;
    font-size: 20px;
    font-weight: bold;
}
/* ***************************************** */
.sec_05{
    width: 100%;
    padding: 20px 15px 20px 15px;
    background:#fff;
    box-sizing: border-box;
}
.sec_05_txt{
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}
.sec_05 h3{
    float:left;
    font-weight: bold;
}
.sec_05 span{
    float:right;
    font-size: 20px;
    font-weight: bold;
}
.sec_05_page{
    left: -50%;
}
.sec_05_visual .swiper-pagination-clickable{
    left: -45%;
}
/* ***************************************** */
.sec_05_txt_02{
    margin-top: 15px;
}
.sec_05_txt_02 li{
    overflow: hidden;
}
.sec_05_txt_02 li p{
    font-size: 14px;
    margin-top: 10px;
    color: #343434;
    line-height: 25px;
    float: left;
    vertical-align: middle;
    position: relative;
    text-indent: 35px;
}
.sec_05_txt_02 li p::before{
    content: '';
    width: 30px;
    height: 15px;
    background:url("../images/ico_noti.png")no-repeat center;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
/* ***************************************** */
.sec_06{
    width: 100%;
    padding: 20px 15px 20px 15px;
    box-sizing: border-box;
}
.sec_06 img{
    width: 100%;
}
/* ***************************************** */
.footer{
    width: 100%;
    padding: 20px 15px 20px 15px;
    box-sizing: border-box;
    background:#222;
    overflow: hidden;
}
.footer_menu{
    width: 100%;
    height: 35px;
    display: flex;
}
.footer_menu li{
    width: calc(100% / 3);
    text-align: center;
    background:#3c3d42;
    border-right: 1px solid #28292e;
    border-left:1px solid #5f6065;
}
.footer_menu li:first-child{
    border-left:none;
}
.footer_menu li a{
    color: #fff;
    line-height: 35px;
}
/* ***************************************** */
.number{
    float:left;
    box-sizing: border-box;
    overflow: hidden;
    margin: 20px 12px 0 0;
}
.number h4{
    float:left;
    color: #fff;
    font-weight: bold;
    font-size: 19px;
    margin-right: 15px;
}
.number a{
    margin-right: 15px;
}
.number img{
    width: 24px;
}
.number p{
    font-size: 10px;
    color: #fff;
    margin-top: 10px;
}